<!doctype html>
<html>
<head>
<title>Laminas Book</title>
<meta name="description" content="Laminas Book">
<meta name="keywords" content="laminas">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
</head>
<body>

    ###CONTENT###

    <script>hljs.highlightAll();</script>
</body>
</html>
